<p id="notice"><%= notice %></p>

<h1>Empleados</h1>
<% if user_signed_in? %>
<%= link_to '+ Nuevo Empleado', new_employee_path %>
<br>
<% end %>
<br>

<table style="width:100%"  class="table table-striped">
  <thead>
    <tr>
      <th><a href="/employees?order=1">Nombre</a></th>
      <th><a href="/employees?order=2">Género</a></th>
      <th>Descripción</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.gender %></td>
        <td><%= employee.description %></td>
        <td><%= link_to 'Mostrar', employee %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Editar', edit_employee_path(employee) %></td>
          <td><%= link_to 'Eliminar', employee, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
