<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @employee.gender %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @employee.description %>
</p>
<% if user_signed_in? %>
<%= link_to 'Editar', edit_employee_path(@employee) %> |
<% end %>
<%= link_to 'Atrás', employees_path %>
