<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Características
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body"> 
      <div class="col-md-5">   
          <br>
          <input id="title" type="text" name="title" class="form-control" placeholder="Titulo"></input>
          <br>
          <input id="totalpages" type="text" name="totalpages" class="form-control" 
          placeholder="Total de Páginas"></input>
          <br>
          <input id="pdf" type="text" name="pdf" class="form-control" placeholder="Pdf"></input>
          <br>
          <input id="thematicdesing" type="text" name="thematicdesing" class="form-control" 
          placeholder="Linea Temática"></input>
          <br>
          <input id="original" type="text" name="original" class="form-control" placeholder="Original"></input>
          <br>
          <input id="originallocation" type="text" name="originallocation" class="form-control" 
          placeholder="Ubicación Original"></input>
          <br>
          <input id="subject" type="text" name="subject" class="form-control" placeholder="Tema"></input>
          <br>
          <input id="gender" type="text" name="gender" class="form-control" placeholder="Género"></input>
          <br>
          <input id="section" type="text" name="section" class="form-control" placeholder="Sección"></input>
          </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Autor
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
      <div class="col-md-5">
        <uL>
          <%= label_tag "Nombre" %><%= select_tag "", options_for_select(@employees), include_blank: true, class: "form-control" %>
          <br>
          <%= label_tag "Género" %><%= select_tag "author_gender", options_for_select(["M", "F"]), include_blank: true, class: "form-control" %>
          </uL>
      </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Ilustrador
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
      <div class="col-md-5">
       <uL>
          <%= label_tag "Nombre" %><%= select_tag "ilustrator_name", options_for_select(@employees), include_blank: true, class: "form-control" %>
          <br>
          <%= label_tag "Género" %><%= select_tag "ilustrator_gender", options_for_select(["M", "F"]), include_blank: true, class: "form-control" %>
        </uL>
      </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          Fotógrafo
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
      <div class="col-md-5">
        <uL>
          <%= label_tag "Nombre" %><%= select_tag "photographer_name", options_for_select(@employees), include_blank: true, class: "form-control" %>
          <br>
          <%= label_tag "Género" %><%= select_tag "photographer_gender", options_for_select(["M", "F"]), include_blank: true, class: "form-control" %>
        </uL>
      </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          Revista
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
      <div class="col-md-5">
       <uL>
        <%= label_tag "Número" %><%= select_tag "magazine_number", options_for_select(@magazines), include_blank: true, class: "form-control" %>
        <br>
        <%= label_tag "Mes" %><%= select_tag "magazine_month", options_for_select(["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]), include_blank: true, class: "form-control" %>
        <br>
        <input id="magazine_year" type="text" name="magazine_year" class="form-control" placeholder="Año"></input>
        <br>
        <input id="magazine_cd" type="text" name="magazine_cd" class="form-control" placeholder="CD"></input>
        <br>
        <input id="magazine_issn" type="text" name="magazine_issn" class="form-control" placeholder="ISSN"></input>
      </ul>
      </div>
      </div>
    </div>
  </div>

   <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
          Colorista
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">
      <div class="col-md-5">
        <uL>
          <%= label_tag "Nombre" %><%= select_tag "colorist_name", options_for_select(@employees), include_blank: true, class: "form-control" %>
        <br>
        <%= label_tag "Género" %><%= select_tag "colorist_gender", options_for_select(["M", "F"]), include_blank: true, class: "form-control" %>
        </uL>
      </div>
      </div>
    </div>
  </div>
</div>