<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
          Características
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse in">
      <div class="panel-body"> 
      <div class="col-md-5">
        <br>
        <input id="title" type="text" name="title" class="form-control" placeholder="Título"></input>
        <br>
        <input id="year" type="text" name="year" class="form-control" placeholder="Año"></input>
        <br>
        <input id="totalpages" type="text" name="totalpages" class="form-control" placeholder="Cant. Páginas"></input>
        <br>
        <input id="format" type="text" name="format" class="form-control" placeholder="Formato"></input>
        <br>
        <input id="editionyear" type="text" name="editionyear" class="form-control" placeholder="Año Edición"></input>
        <br>
        <input id="editora" type="text" name="editora" class="form-control" placeholder="Editora"></input>
        <br>
        <input id="isbn" type="text" name="isbn" class="form-control" placeholder="ISBN"></input>
        <br>
        <input id="binding" type="text" name="binding" class="form-control" placeholder="Encuadernación"></input>
        <br>
        <input id="realisation" type="text" name="realisation" class="form-control" placeholder="Realización"></input>
        <br>
        <input id="correction" type="text" name="correction" class="form-control" placeholder="Corrección"></input>
        <br>
        <input id="clasification" type="text" name="clasification" class="form-control" placeholder="Clasificación"></input>
        <br>
        <input id="content" type="text" name="content" class="form-control" placeholder="Contenido"></input>
        <br>
        <input id="banner" type="text" name="banner" class="form-control" placeholder="Pancarta"></input>
        <br>
        <input id="troquelado" type="text" name="troquelado" class="form-control" placeholder="Troquelado"></input>
        <br>
        <input id="collection" type="text" name="collection" class="form-control" placeholder="Colección"></input>
      </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
          Autor
        </a>
      </h4>
    </div>
    <div id="collapseEight" class="panel-collapse collapse">
      <div class="panel-body">
      <div class="col-md-5">
        <uL>
          <%= label_tag "Nombre" %><%= select_tag "author_name", options_for_select(@employees), include_blank: true, class: "form-control" %>
            <br>
          <%= label_tag "Género" %><%= select_tag "author_gender", options_for_select(["M", "F"]), include_blank: true, class: "form-control" %>
          </uL>
      </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
          Ilustrador
        </a>
      </h4>
    </div>
    <div id="collapseNine" class="panel-collapse collapse">
      <div class="panel-body">
      <div class="col-md-5">
        <uL>
          <%= label_tag "Nombre" %><%= select_tag "ilustrator_name", options_for_select(@employees), include_blank: true, class: "form-control" %>
          <br>
          <%= label_tag "Género" %><%= select_tag "ilustrator_gender", options_for_select(["M", "F"]), include_blank: true, class: "form-control" %>
        </uL>
      </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
          Fotógrafo
        </a>
      </h4>
    </div>
    <div id="collapseTen" class="panel-collapse collapse">
      <div class="panel-body">
      <div class="col-md-5">
        <uL>
           <%= label_tag "Nombre" %><%= select_tag "photographer_name", options_for_select(@employees), include_blank: true, class: "form-control" %>
          <br>
          <%= label_tag "Género" %><%= select_tag "photographer_gender", options_for_select(["M", "F"]), include_blank: true, class: "form-control" %>
        </uL>
      </div>
      </div>
    </div>
  </div>

<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">
          Editor
        </a>
      </h4>
    </div>
    <div id="collapseEleven" class="panel-collapse collapse">
      <div class="panel-body">
      <div class="col-md-5">
        <uL>
          <%= label_tag "Nombre" %><%= select_tag "editor_name", options_for_select(@employees), include_blank: true, class: "form-control" %>
          <br>
          <%= label_tag "Género" %><%= select_tag "editor_gender", options_for_select(["M", "F"]), include_blank: true, class: "form-control" %>
      </ul>
      </div>
      </div>
    </div>
  </div>

   <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">
          Diseñador
        </a>
      </h4>
    </div>
    <div id="collapseTwelve" class="panel-collapse collapse">
      <div class="panel-body">
      <div class="col-md-5">
        <uL>
          <%= label_tag "Nombre" %><%= select_tag "designer_name", options_for_select(@employees), include_blank: true, class: "form-control" %>
          <br>
          <%= label_tag "Género" %><%= select_tag "designer_gender", options_for_select(["M", "F"]), include_blank: true, class: "form-control" %>
        </uL>
      </div>
      </div>
    </div>
  </div>
</div>