<h1>Búsqueda</h1>
<ul class="nav nav-tabs nav-justified">
  <li><a data-toggle="tab" aria-controls="Articles" href="#Articles">Artículos
  </a></li>
  <li><a data-toggle="tab" aria-controls="Employees" href="#Employees">Empleados
  </a></li>
  <li><a data-toggle="tab" aria-controls="Books" href="#Books">Libros
  </a></li>
  <li><a data-toggle="tab" aria-controls="Magazines" href="#Magazines">Revistas
  </a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane" id="Articles">
    <%= form_tag("/search") do %>
        <%= hidden_field_tag :selected, 1 %>
        <%= render partial: 'articlesSearch' %>
        <input type="submit" value="Buscar" name="commit" class="btn btn-primary"></input>
    <% end %>
  </div>
  <div class="tab-pane" id="Employees">
    <%= form_tag("/search") do %>
        <%= hidden_field_tag :selected, 2 %>
        <div class="col-md-5">
          <%= render partial: 'employeesSearch' %>
          <br/><br/>
          <input type="submit" value="Buscar" name="commit" class="btn btn-primary"></input>
        </div>
    <% end %>
  </div>
  <div class="tab-pane" id="Books">
    <%= form_tag("/search") do %>
        <%= hidden_field_tag :selected, 3 %>
        <%= render partial: 'booksSearch' %>
        <br/><br/>
        <input type="submit" value="Buscar" name="commit" class="btn btn-primary"></input>
    <% end %>
  </div>
  <div class="tab-pane" id="Magazines">
    <%= form_tag("/search") do %>
        <%= hidden_field_tag :selected, 4 %>
        <div class="col-md-5">
          <%= render partial: 'magazinesSearch' %>
          <br/><br/>
          <input type="submit" value="Buscar" name="commit" class="btn btn-primary"></input>
        </div>
    <% end %>
  </div>
</div>