<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Autor:</strong>
  <%= Employee.find(@article.author).name %>
</p>

<p>
  <strong>Ilustrador:</strong>
  <%= Employee.find(@article.ilustrator).name if not @article.ilustrator.nil? %>
</p>

<p>
  <strong>Fotógrafo:</strong>
  <%= Employee.find(@article.photographer).name if not @article.photographer.nil? %>
</p>

<p>
  <strong>Género:</strong>
  <%= @article.gender %>
</p>

<p>
  <strong>Tema:</strong>
  <%= @article.subject %>
</p>

<p>
  <strong>Revista:</strong>
  <%= Magazine.find(@article.magazineId).number %>
</p>

<p>
  <strong>Colorista:</strong>
  <%= Employee.find(@article.colorist).name if not @article.colorist.nil? %>
</p>

<p>
  <strong>Cant. Páginas:</strong>
  <%= @article.totalpages %>
</p>

<p>
  <strong>PDF:</strong>
  <%= @article.pdf %>
</p>

<p>
  <strong>Línea Temática:</strong>
  <%= @article.thematicdesing %>
</p>

<p>
  <strong>Original:</strong>
  <%= @article.original %>
</p>

<p>
  <strong>Ubic. Original:</strong>
  <%= @article.originallocation %>
</p>

<p>
  <strong>Sección:</strong>
  <%= @article.section %>
</p>
<% if user_signed_in? %>
<%= link_to 'Editar', edit_article_path(@article) %> |
<% end %>
<%= link_to 'Atrás', articles_path %>
