<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @article.author %>
</p>

<p>
  <strong>Ilustrator:</strong>
  <%= @article.ilustrator %>
</p>

<p>
  <strong>Photographer:</strong>
  <%= @article.photographer %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @article.gender %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @article.subject %>
</p>

<p>
  <strong>Magazineid:</strong>
  <%= @article.magazineId %>
</p>

<p>
  <strong>Colorist:</strong>
  <%= @article.colorist %>
</p>

<p>
  <strong>Totalpages:</strong>
  <%= @article.totalpages %>
</p>

<p>
  <strong>Pdf:</strong>
  <%= @article.pdf %>
</p>

<p>
  <strong>Thematicdesing:</strong>
  <%= @article.thematicdesing %>
</p>

<p>
  <strong>Original:</strong>
  <%= @article.original %>
</p>

<p>
  <strong>Originallocation:</strong>
  <%= @article.originallocation %>
</p>

<p>
  <strong>Section:</strong>
  <%= @article.section %>
</p>

<%= link_to 'Editar', edit_article_path(@article) %> |
<%= link_to 'Atrás', articles_path %>
