<%= form_for(@magazine) do |f| %>
  <% if @magazine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@magazine.errors.count, "error") %> prohibited this magazine from being saved:</h2>

      <ul>
      <% @magazine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Número" %><br>
    <%= f.number_field :number, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label "Mes" %><br>
    <%= f.select :month, ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"], include_blank: true %>
  </div>
  <div class="field">
    <%= f.label "Año" %><br>
    <%= f.text_field :year, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label "CD" %><br>
    <%= f.number_field :cd, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label "ISSN" %><br>
    <%= f.text_field :issn, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Crear Revista" , class: "btn btn-primary" %>
  </div>
<% end %>
