<p id="notice"><%= notice %></p>

<h1>Revistas</h1>
<%= link_to '+ Nueva Revista', new_magazine_path %>
<br>
<br>

<table style="width: 100%">
  <thead>
    <tr>
      <th>Número</th>
      <th>Mes</th>
      <th>Año</th>
      <th>CD</th>
      <th>ISSN</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @magazines.each do |magazine| %>
      <tr>
        <td><%= magazine.number %></td>
        <td><%= magazine.month %></td>
        <td><%= magazine.year %></td>
        <td><%= magazine.cd %></td>
        <td><%= magazine.issn %></td>
        <td><%= link_to 'Show', magazine %></td>
        <td><%= link_to 'Edit', edit_magazine_path(magazine) %></td>
        <td><%= link_to 'Destroy', magazine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>