<p id="notice"><%= notice %></p>

<p>
  <strong>Número:</strong>
  <%= @magazine.number %>
</p>

<p>
  <strong>Mes:</strong>
  <%= @magazine.month %>
</p>

<p>
  <strong>Año:</strong>
  <%= @magazine.year %>
</p>

<p>
  <strong>CD:</strong>
  <%= @magazine.cd %>
</p>

<p>
  <strong>ISSN:</strong>
  <%= @magazine.issn %>
</p>
<% if user_signed_in? %>
  <%= link_to 'Editar', edit_magazine_path(@magazine) %> |
<% end %>
<%= link_to 'Atrás', magazines_path %>
