<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Título" %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label "Año" %><br>
    <%= f.number_field :year, class: "form-control" %>
  </div>
    <div class="field">
      <%= f.label "Autor" %><br>
      <%= f.select :author, options_for_select(@employees), include_blank: true %>
    </div>
    <div class="field">
      <%= f.label "Ilustrador" %><br>
      <%= f.select :ilustrator, options_for_select(@employees), include_blank: true %>
    </div>
    <div class="field">
      <%= f.label "Fotógrafo" %><br>
      <%= f.select :photographer, options_for_select(@employees), include_blank: true %>
    </div>
    <div class="field">
      <%= f.label "Cant.Páginas" %><br>
      <%= f.number_field :totalpages, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label "Formato" %><br>
      <%= f.text_field :format, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label "Editor" %><br>
      <%= f.select :editor, options_for_select(@employees), include_blank: true %>
    </div>
    <div class="field">
      <%= f.label "Año Edición" %><br>
      <%= f.text_field :editionyear, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label "Editora" %><br>
      <%= f.text_field :editora, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label "ISBN" %><br>
      <%= f.number_field :isbn, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label "Encuadernación" %><br>
      <%= f.text_field :binding, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label "Realisación" %><br>
      <%= f.text_field :realisation, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label "Diseñador" %><br>
      <%= f.select :designer, options_for_select(@employees), include_blank: true %>
    </div>
    <div class="field">
      <%= f.label "Corrección" %><br>
      <%= f.text_field :correction, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label "Clasificación" %><br>
      <%= f.text_field :clasification, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label "Contenido" %><br>
      <%= f.text_field :content, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label "Pancarta" %><br>
      <%= f.text_field :banner, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label "Troquelado" %><br>
      <%= f.text_field :troquelado, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label "Colección" %><br>
      <%= f.text_field :collection, class: "form-control" %>
    </div>
    <div class="actions">
      <%= f.submit "Crear Libro", class: "btn btn-primary" %>
    </div>
<% end %>