<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Año:</strong>
  <%= @book.year %>
</p>

<p>
  <strong>Autor:</strong>
  <%= Employee.find(@book.author).name %>
</p>

<p>
  <strong>Ilustrador:</strong>
  <%= Employee.find(@book.ilustrator).name if not @book.ilustrator.nil? %>
</p>

<p>
  <strong>Fotógrafo:</strong>
  <%= Employee.find(@book.photographer).name if not @book.photographer.nil? %>
</p>

<p>
  <strong>Cant. Páginas:</strong>
  <%= @book.totalpages %>
</p>

<p>
  <strong>Formato:</strong>
  <%= @book.format %>
</p>

<p>
  <strong>Editor:</strong>
  <%= Employee.find(@book.editor).name if not @book.editor.nil? %>
</p>

<p>
  <strong>Año Edición:</strong>
  <%= @book.editionyear %>
</p>

<p>
  <strong>Editora:</strong>
  <%= @book.editora %>
</p>

<p>
  <strong>ISBN:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Encuadernación:</strong>
  <%= @book.binding %>
</p>

<p>
  <strong>Realización:</strong>
  <%= @book.realisation %>
</p>

<p>
  <strong>Diseñador:</strong>
  <%= Employee.find(@book.designer).name if not @book.designer.nil? %>
</p>

<p>
  <strong>Corrección:</strong>
  <%= @book.correction %>
</p>

<p>
  <strong>Clasificación:</strong>
  <%= @book.clasification %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @book.content %>
</p>

<p>
  <strong>Pancarta:</strong>
  <%= @book.banner %>
</p>

<p>
  <strong>Troquelado:</strong>
  <%= @book.troquelado %>
</p>

<p>
  <strong>Collección:</strong>
  <%= @book.collection %>
</p>
<% if user_signed_in? %>
<%= link_to 'Editar', edit_book_path(@book) %> |
<% end %>
<%= link_to 'Atrás', books_path %>
