<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @book.year %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Ilustrator:</strong>
  <%= @book.ilustrator %>
</p>

<p>
  <strong>Photographer:</strong>
  <%= @book.photographer %>
</p>

<p>
  <strong>Totalpages:</strong>
  <%= @book.totalpages %>
</p>

<p>
  <strong>Format:</strong>
  <%= @book.format %>
</p>

<p>
  <strong>Editor:</strong>
  <%= @book.editor %>
</p>

<p>
  <strong>Editionyear:</strong>
  <%= @book.editionyear %>
</p>

<p>
  <strong>Editora:</strong>
  <%= @book.editora %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Binding:</strong>
  <%= @book.binding %>
</p>

<p>
  <strong>Realisation:</strong>
  <%= @book.realisation %>
</p>

<p>
  <strong>Designer:</strong>
  <%= @book.designer %>
</p>

<p>
  <strong>Correction:</strong>
  <%= @book.correction %>
</p>

<p>
  <strong>Clasification:</strong>
  <%= @book.clasification %>
</p>

<p>
  <strong>Content:</strong>
  <%= @book.content %>
</p>

<p>
  <strong>Banner:</strong>
  <%= @book.banner %>
</p>

<p>
  <strong>Troquelado:</strong>
  <%= @book.troquelado %>
</p>

<p>
  <strong>Collecttion:</strong>
  <%= @book.collecttion %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
